<!-- templates/users/password_change.html -->
<h2>비밀번호 변경</h2>

<form method="post">
    {% csrf_token %}
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <p>
        <label for="student_id">학번:</label>
        <input type="text" name="student_id" required><br>
    </p>

    <p>
        <label for="new_password1">새 비밀번호 변경:</label>
        <input type="password" name="new_password1" required><br>
    </p>

    <p>
        <label for="new_password2">새 비밀번호 재입력:</label>
        <input type="password" name="new_password2" required><br>
    </p>

    <!-- 비밀번호 안내 문구 -->
    <p style="font-size: 0.9em; color: gray; margin-top: -10px;">
        비밀번호: 8~16자의 영문, 숫자, 특수문자를 사용해주세요.
    </p>

    <button type="submit">변경</button>
</form>
