<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MeetAgain{% endblock %}</title>
</head>
<body>
    <header>
        <h1><a href="/">MeetAgain</a></h1>
        {% if request.user.is_authenticated %}
            안녕하세요 {{ request.user.username }}님 |
            <a href="{% url 'logout' %}">로그아웃</a>
        {% else %}
            <a href="{% url 'login' %}">로그인</a>
        {% endif %}
    </header>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>
